
@font-face {
       font-display: swap;
       font-family: 'Nunito Sans';
       font-style: normal;
       font-weight: 300;
       src: url('./Assets/Fonts/nunito-sans-v15-latin-300.woff2') format('woff2');
     }

     @font-face {
       font-display: swap;
       font-family: 'Nunito Sans';
       font-style: normal;
       font-weight: 400;
       src: url('./Assets/Fonts/nunito-sans-v15-latin-regular.woff2') format('woff2'); 
     }

     @font-face {
       font-display: swap;
       font-family: 'Nunito Sans';
       font-style: normal;
       font-weight: 500;
       src: url('./Assets/Fonts/nunito-sans-v15-latin-500.woff2') format('woff2');
     }

     @font-face {
       font-display: swap;
       font-family: 'Nunito Sans';
       font-style: normal;
       font-weight: 600;
       src: url('./Assets/Fonts/nunito-sans-v15-latin-600.woff2') format('woff2');
     }

     @font-face {
       font-display: swap;
       font-family: 'Nunito Sans';
       font-style: normal;
       font-weight: 800;
       src: url('./Assets/Fonts/nunito-sans-v15-latin-800.woff2') format('woff2');
     }


/* GENERAL */
html {
       box-sizing: border-box;
       height: 100%;
       scroll-behavior: smooth;
     }
     
     *,
     *::before,
     *::after {
       box-sizing: inherit;
     }
     
     body {
       display: flex;
       flex-direction: column;
       height: 100%;
       margin: 0;
       padding: 0;
       overflow-x: hidden;
       font-family: 'Nunito Sans', sans-serif;
     }
     
     img {
       max-width: 100%;
       height: auto;
     }

     .container {
       max-width: 1321px;
       width: 100%;
       margin: 0 auto;
       padding: 0 20px;
     }

     .visually-hidden {
       clip: rect(0 0 0 0);
       clip-path: inset(50%);
       height: 1px;
       overflow: hidden;
       position: absolute;
       white-space: nowrap;
       width: 1px;
     }

     .countries-light-mode {
       background: #FFF;
       color: #111517;
     }

     .countries-dark-mode {
       background: #2B3844;
       color: #FFF;
     }

     .countries-light-mode-body {
       background: #FAFAFA;
     }

     .countries-dark-mode-body {
       background: #202C36;
     }